/* Estilos para el diálogo de contraseña */
    #password-dialog {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #password-dialog-content {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 400px;
      text-align: center;
    }
    #password-dialog-content h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    #password-dialog-content input[type="password"] {
      width: 100%;
      height: 40px;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    #password-dialog-content button {
      width: 100%;
      height: 40px;
      background-color: #ff40e7;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    #password-dialog-content button:hover {
      background-color: #3e8e41;
    }
    /* Estilos para el contenido de la página */
    #page-content {
      display: none;
    }