body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.ventana {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

p {
    font-size: 18px;
    color: #FFFFFF;
}

.background1 {
    background: url('assets/back1.png');
    background-size: cover;
}

.background2 {
    background: url('assets/back2.png');
    background-size: cover;
}

.text {
    color #000;
}