body {
    background: linear-gradient(160deg,#f6e8e8 0%, #fbf8ef 50%, #f3f7ff 100%);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    position: relative;
}

img {
    width: 49%;
}

p {
    color: #5f5f5f;
    text-align: center;
}

h1 {
    color: #000;
    text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ff95e7;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer h2 {
    color: #fff;
}


.scroll-horizontal {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  margin: 10px;
}

.scroll-horizontal::-webkit-scrollbar {
  height: 10px;
}

.scroll-horizontal::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.scroll-horizontal img {
  width: 200px;
  height: 150px;
  margin-right: 5px;
}

.slider-texto {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.texto-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.texto-item.activo {
  opacity: 1;
}

.nota {
  width: 90%;
  background: url('assets/back2.png');
  border-radius: 20px;
  box-shadow: 0 10px 30px var(--shadow);
  position: relative;
  border: 1px solid rgba(60,50,50,0.08);
  overflow: hidden;
  margin: 0 auto; /* Agrega esta línea */
}



.nota p {
    margin: 25px;
    font-size: 24px;
}
